html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// margins
$margin: 10px;

.m-1 { margin: $margin !important; }
.m-2 { margin: $margin * 2 !important; }
.m-3 { margin: $margin * 3 !important; }
.m-4 { margin: $margin * 4 !important; }
.m-5 { margin: $margin * 5 !important; }
.m-6 { margin: $margin * 6 !important; }

.mr-1 { margin-right: $margin !important; }
.mr-2 { margin-right: $margin * 2 !important; }
.mr-3 { margin-right: $margin * 3 !important; }
.mr-4 { margin-right: $margin * 4 !important; }
.mr-5 { margin-right: $margin * 5 !important; }
.mr-6 { margin-right: $margin * 6 !important; }

.mb-1 { margin-bottom: $margin !important; }
.mb-2 { margin-bottom: $margin * 2 !important; }
.mb-3 { margin-bottom: $margin * 3 !important; }
.mb-4 { margin-bottom: $margin * 4 !important; }
.mb-5 { margin-bottom: $margin * 5 !important; }
.mb-6 { margin-bottom: $margin * 6 !important; }
// /margins

// paddings
$padding: 10px;

.p-1 { padding: $padding !important; }
.p-2 { padding: $padding * 2 !important; }
.p-3 { padding: $padding * 3 !important; }
.p-4 { padding: $padding * 4 !important; }
.p-5 { padding: $padding * 5 !important; }
.p-6 { padding: $padding * 6 !important; }

.pb-1 { padding-bottom: $padding !important; }
.pb-2 { padding-bottom: $padding * 2 !important; }
.pb-3 { padding-bottom: $padding * 3 !important; }
.pb-4 { padding-bottom: $padding * 4 !important; }
.pb-5 { padding-bottom: $padding * 5 !important; }
.pb-6 { padding-bottom: $padding * 6 !important; }
// /paddings

// widths
.w-max { width: 100%; }
// /widths

// mat snackbar
.success-snack { background-color: #008000; }
// /mat snackbar

// mat card 
.title-with-btn {
    display: flex;
    align-items: center;
}
// /mat card

// table 
table {
    .self-width-cell {
        white-space: nowrap;
        width: 1%;
    }
    
    .expanded-details {
        overflow: hidden;
    }
    
    tr {
        &.expandable-row td {
            border-bottom-width: 0;
        }

        &.expanded-row {
            height: 0;
        }
    }
}
// /table

// mat drawer
.mat-drawer-container { height: calc(100vh - 64px); }
// /mat drower

// form
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
// /form

// flex
.flex {
    display: flex;

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.column-direction {
        flex-direction: column;
    }
}
// /flex

// typogaphy
.header {
    font-weight: 500;
}
// /typogaphy