<mat-card>
    <mat-card-title class="table-card-title">
        <div class="title-with-btn">
            <a mat-mini-fab color="primary" routerLink="/discipline" class="mr-2">
                <mat-icon>add</mat-icon>
            </a>
            <span>{{ 'discipline.disciplines' | translate }}</span>
        </div>
        <mat-spinner [diameter]="spinnerDiameter" *ngIf="dataSource.isLoading | async"></mat-spinner>
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-max" multiTemplateDataRows>
            <!-- Id column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>{{ 'base.id' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.id }}</td>
            </ng-container>

            <!-- Created column -->
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef>{{ 'base.created' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.created | date: 'short' }}</td>
            </ng-container>

            <!-- Updated column -->
            <ng-container matColumnDef="updated">
                <th mat-header-cell *matHeaderCellDef>{{ 'base.updated' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.updated | date: 'short' }}</td>
            </ng-container>

            <!-- Term column -->
            <ng-container matColumnDef="term">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.term' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.term }}</td>
            </ng-container>

            <!-- Education form column -->
            <ng-container matColumnDef="educationForm">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.educationForm' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.educationForm }}</td>
            </ng-container>

            <!-- Group abbreviation column -->
            <ng-container matColumnDef="groupAbbreviation">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.groupAbbreviation' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.groupAbbreviation }}</td>
            </ng-container>

            <!-- Institute column -->
            <ng-container matColumnDef="institute">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.institute' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.institute }}</td>
            </ng-container>

            <!-- Course column -->
            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.course' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.course }}</td>
            </ng-container>

            <!-- Name column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.name' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.name }}</td>
            </ng-container>

            <!-- Type column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.type' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.type }}</td>
            </ng-container>

            <!-- University name column -->
            <ng-container matColumnDef="universityName">
                <th mat-header-cell *matHeaderCellDef>{{ 'discipline.universityName' | translate }}</th>
                <td mat-cell *matCellDef="let discipline">{{ discipline.university.name }}</td>
            </ng-container>

            <!-- Actions column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'base.actions' | translate }}</th>
                <td mat-cell *matCellDef="let discipline" class="self-width-cell">
                    <button mat-mini-fab color="warn" (click)="onDeleteBtnClick(discipline.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <span class="mr-1"></span>
                    <a mat-mini-fab color="primary" [routerLink]="['/discipline', discipline.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <!-- Discipline expanded description -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let discipline" [attr.colspan]="displayedColumns.length">
                    <div class="flex wrap justify-center expanded-details" [@detailExpand]="discipline == expandedDiscipline ? 'expanded' : 'collapsed'">
                        <!-- Education level -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.educationLevel' | translate }}:</span>
                            <span>{{ discipline.educationLevel }}</span>
                        </div>
                        <!-- Plan index -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.planIndex' | translate }}:</span>
                            <span>{{ discipline.planIndex }}</span>
                        </div>
                        <!-- Speciality -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.speciality' | translate }}:</span>
                            <span>{{ discipline.speciality }}</span>
                        </div>
                        <!-- Specialization -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.specialization' | translate }}:</span>
                            <span>{{ discipline.specialization }}</span>
                        </div>
                        <!-- Student count -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.studentCount' | translate }}:</span>
                            <span>{{ discipline.studentCount }}</span>
                        </div>
                        <!-- Budge student count -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.budgetStudentCount' | translate }}:</span>
                            <span>{{ discipline.budgetStudentCount }}</span>
                        </div>
                        <!-- Comercial student count -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.comercialStudentCount' | translate }}:</span>
                            <span>{{ discipline.comercialStudentCount }}</span>
                        </div>
                        <!-- Group count -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.groupCount' | translate }}:</span>
                            <span>{{ discipline.groupCount }}</span>
                        </div>
                        <!-- Subgroup count -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.subgroupCount' | translate }}:</span>
                            <span>{{ discipline.subgroupCount }}</span>
                        </div>
                        <!-- Thread count -->
                        <div class="m-1 mr-3">
                            <span class="mr-1 header">{{ 'discipline.threadCount' | translate }}:</span>
                            <span>{{ discipline.threadCount }}</span>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let discipline; columns: displayedColumns" class="expandable-row" (click)="onDisciplineRowClick(discipline)"></tr>
            <tr mat-row *matRowDef="let expandedDiscipline; columns: ['expandedDetail'];" class="expanded-row"></tr>
        </table>
        <mat-paginator class="mat-elevation-z8"></mat-paginator>
    </mat-card-content>
</mat-card>