<mat-toolbar color="primary">
    <button mat-icon-button type="button" (click)="onMenuButtonClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'app.toolbar.loadDistribution' | translate }}</span>
    <span class="spacer"></span>
    <app-project-autocomplete></app-project-autocomplete>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="isDrawerOpened" class="mat-elevation-z8">
        <mat-nav-list>
            <a mat-list-item routerLink="/projects">{{ 'project.projects' |translate }}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
