<mat-toolbar color="primary">
    <button mat-icon-button type="button" (click)="onMenuButtonClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'app.toolbar.loadDistribution' | translate }}</span>
    <span class="spacer"></span>
    <app-project-select></app-project-select>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer mode="side" [opened]="isDrawerOpened" class="mat-elevation-z8">
        <app-navigation></app-navigation>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
