<mat-card>
    <mat-card-title align="center">{{ 'lecturer.lecturer' | translate }}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="centered-form">
            <app-base [base]="base" *ngIf="componentMode == componentModes.edit"></app-base>
            <div>
                <mat-form-field appearance="outline" class="mr-3">
                    <mat-label>{{ 'lecturer.lastName' | translate }}</mat-label>
                    <input matInput formControlName="lastName" required />
                </mat-form-field>
                <mat-form-field appearance="outline" class="mr-3">
                    <mat-label>{{ 'lecturer.firstName' | translate }}</mat-label>
                    <input matInput formControlName="firstName" required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'lecturer.middleName' | translate }}</mat-label>
                    <input matInput formControlName="middleName" required />
                </mat-form-field>
            </div>
            <div formArrayName="universityLecturerMaps">
                <div *ngFor="let universityLecturerMap of operationManager.controls$ | async; let i = index">
                    <mat-form-field appearance="outline" [formGroupName]="i" class="mr-3">
                        <mat-label>{{ 'lecturer.university' | translate }}</mat-label>
                        <mat-select formControlName="universityId" required>
                            <mat-option *ngFor="let university of universities" [value]="university.id">
                            ({{ university.id }}) {{ university.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-mini-fab color="warn" (click)="operationManager.delete(universityLecturerMap)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="centered pb-2">
                    <span class="mr-3">{{ 'common.addItem' | translate }}</span>
                    <button mat-mini-fab color="primary" (click)="operationManager.create()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <app-form-actions [component]="this"></app-form-actions>
        </form>
    </mat-card-content>
</mat-card>