<mat-card>
    <mat-card-title align="center">{{ 'universityLecturerMap.universityLecturerMap' | translate }}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="centred-form">
            <app-base [base]="base" *ngIf="componentMode == componentModes.edit"></app-base>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'universityLecturerMap.university' | translate }}</mat-label>
                    <mat-select formControlName="universityId" required>
                      <mat-option *ngFor="let university of universities$ | async" [value]="university.id">
                        ({{ university.id }}) {{ university.name }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'universityLecturerMap.lecturer' | translate }}</mat-label>
                    <mat-select formControlName="lecturerId" required>
                      <mat-option *ngFor="let lecturer of lecturers$ | async" [value]="lecturer.id">
                        ({{ lecturer.id }}) {{ lecturer.lastName }} {{ lecturer.firstName }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-form-actions [component]="this"></app-form-actions>
        </form>
    </mat-card-content>
</mat-card>